*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color:#ff99d1;
    background-image:
    radial-gradient(at 85% 67%, hsla(359,90%,65%,1) 0px, transparent 50%),
    radial-gradient(at 86% 93%, hsla(168,74%,79%,1) 0px, transparent 50%),
    radial-gradient(at 67% 83%, hsla(122,72%,60%,1) 0px, transparent 50%),
    radial-gradient(at 57% 52%, hsla(20,91%,60%,1) 0px, transparent 50%),
    radial-gradient(at 21% 18%, hsla(8,98%,71%,1) 0px, transparent 50%),
    radial-gradient(at 77% 69%, hsla(57,77%,76%,1) 0px, transparent 50%),
    radial-gradient(at 10% 76%, hsla(78,75%,72%,1) 0px, transparent 50%);
}

.container {
    text-align: center;
    background-color: #EF3054;
    border-radius: 20px;
    width: 700px;
    height: 700px;
    margin: auto;
    padding: 1em;
    position: absolute;
    top: -10%;
    bottom: 0;
    left: 0;
    right: 0;    
}

.container,
.container::before,
.container::after {
    border: 2px solid #2D3047;
}

.container::before,
.container::after {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    margin: 2rem;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
}

.container::before {
    left: 0;
}

.container::after {
    right: 0; 
}

p {
    margin-bottom: 0.85rem;
}

.grid-board {
    border-radius: 10px;
    border: 2px solid #2D3047;
    height: 460px;
    width: 460px;
    background-color: #fff;
    margin: 0 auto 1.5rem auto;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
}

.grid-size-header {
    margin-top: 0;
    display: block;
}

.customize-buttons {
    margin: 0 auto;
    width: 70%;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "pen bg-color grid-size"
        "input-pen input-bg-color grid-size"
        ". . ."; 
    justify-items: center; 
}

.pen {
    grid-area: pen;
}

.input-pen { 
    grid-area: input-pen; 
}

.bg-color { 
    grid-area: bg-color; 
}

.input-bg-color { 
    grid-area: input-bg-color; 
}

.grid-size {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        "grid-size-header grid-size-header grid-size-header"
        "input-range input-range input-range"
        "grid-size-value grid-size-value grid-size-value"; 
    grid-area: grid-size; 
    justify-items: center; 
    align-items: center; 
}

.grid-size-header { 
    grid-area: grid-size-header; 
}

.input-range { 
    grid-area: input-range; 
}

.grid-size-value { 
    grid-area: grid-size-value; 
}


/* TYPOGRAPHY */
h1 {
    font-size: 2.5rem;
    margin-top: 0.85rem;
    font-weight: 700;
    color: #FFFD82;
}

span {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#display-size {
    display: block;
}

/* BUTTONS */

button { 
    font-size: 1.5rem;
    text-decoration: none;
    border-style: none;
    background-color: #fff;
    color: #2D3047;
    font-weight: 700;
    padding: 0.4em 0.8em;
}

button, 
input {
    border-radius: 5px;
}

input[type=color] {
    background-color: #fff;
    border: none;
}

.customize-buttons {
    margin-bottom: 0.8rem;
}

.clear-btn:hover {
    cursor: pointer;
    background-color: #FFFD82;
}

.clear-btn:active {
    background-color: #f3f163;
}