*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #fff;
}

.background {
    width: 100vw;
    height: 100vh;
    background-color:#ff99d1;
    background-image:
    radial-gradient(at 85% 67%, hsla(359,90%,65%,1) 0px, transparent 50%),
    radial-gradient(at 86% 93%, hsla(168,74%,79%,1) 0px, transparent 50%),
    radial-gradient(at 67% 83%, hsla(122,72%,60%,1) 0px, transparent 50%),
    radial-gradient(at 57% 52%, hsla(20,91%,60%,1) 0px, transparent 50%),
    radial-gradient(at 21% 18%, hsla(8,98%,71%,1) 0px, transparent 50%),
    radial-gradient(at 77% 69%, hsla(57,77%,76%,1) 0px, transparent 50%),
    radial-gradient(at 10% 76%, hsla(78,75%,72%,1) 0px, transparent 50%);
}

.container {
    text-align: center;
    background-color: #EF3054;
    border-radius: 20px;
    width: 700px;
    height: 700px;
    margin: auto;
    padding: 1em;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;    
}

.container,
.container::before,
.container::after {
    border: 2px solid #2D3047;
}

.container::before,
.container::after {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    margin: 2rem;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
}

.container::before {
    left: 0;
}

.container::after {
    right: 0; 
}

.grid-board {
    border-radius: 10px;
    border: 2px solid #2D3047;
    height: 460px;
    width: 460px;
    background-color: #fff;
    margin: 0 auto 1rem auto;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.customize-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    display: block;
}

/* TYPOGRAPHY */
h1 {
    font-size: 2.5rem;
    margin-top: 0.85rem;
    font-weight: 700;
    color: #FFFD82;
}

span {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

/* BUTTONS */

button { 
    text-decoration: none;
    border-style: none;
    background-color: #fff;
    color: #2D3047;
    font-weight: 700;
    padding: 0.4em 0.8em;
}

button, 
input {
    border-radius: 5px;
}

input[type=color] {
    background-color: #fff;
    border: none;
}

.customize-buttons {
    margin-bottom: 0.8rem;
}
